{% extends 'R_Store/base.html' %}

{% block sidebar %}
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Поиск</button>
    </form>
{% endblock %}


{% block title %}Список товаров{% endblock %}

{% block content %}
<h1>Список товаров</h1>
<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a> 
            - {{ product.price }} руб.
        </li>
    {% empty %}
        <p>Товаров нет.</p>
    {% endfor %}
</ul>
{% endblock %}